.idocs-navigation .nav .nav .nav-item .nav-sublink:after {
  display: none;
}
.idocs-navigation .nav .nav .nav-item .nav-sublink.active:after {
  display: none;
}

.progress-bar,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.dropdown-item.active,
.dropdown-item:active {
  background-color: #6c757d2c;
}
